# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Python
__pycache__/
*.py[cod]
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints

# Java
*.class
*.log
target/

# Android
.gradle/
build/
captures/
local.properties
.idea/
*.iml

# iOS
*.xcuserdatad/
*.xcworkspace/
*.xcodeproj/
DerivedData/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Visual Studio Code
.vscode/

# Backup files
*~
*.bak
*.tmp
*.swp

# Ignore all files in the build directory
/build
/dist
/coverage
